---
layout: default
title: collections
description: "Tex-tile yearly tile collections"
sitemap:
  priority: 0.9
---
<div id="left" class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
	<ul id="filter" class="option-set clearfix" data-option-key="filter" >
	              <li><a href="#show-all" class="filter" data-option-value="all" class="selected">all</a></li>
	              <li> — </li>

	              {% assign pages_list = site.posts %}
		  		  {% assign group = 'collections' %}
		  		  {% include sub-nav/collection-list.html %}
	            

	 </ul>
 


</div>


<div id="right" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
	  
	  <ul id="container" class="posts">
	        

	        {% for post in site.posts offset:1 %}

  	        {% if post.group == 'collections' %}

              {% if post.collection != 'fake'  %}
          
      	          <li class="element {{ post.categories }} {{ post.year }} {{ post.folder }} {{ post.type }} col-lg-4 col-md-3 col-sm-6 col-xs-12" >

      	            <a href="{{ post.url }}">
      	                  
      	            <img src="/assets/img/collections/{{ post.folder }}/{{ post.img }}" class="img-responsive">
      	            
      	            </a>
      	            <!-- hidden-lg hidden-md hidden-sm -->
      	            <h6 class="">{{ post.collection }} </h6>
      	          </li>
                  
              {% endif %}
  	        {% endif %}
	        {% endfor %}

	       
	   </ul>

</div>


<script>
          $('#container').imagesLoaded(function() {
        $('#container').isotope({ 
            itemSelector : '.element' 
           
      });
        
        $('a.filter').click(function(e) {
              e.preventDefault();
          var to_filter = $(this).attr('data-option-value');
          if(to_filter == 'all') {
                  $('#container').isotope({filter: '.element'});
          } else {
                  $('#container').isotope({filter: '.'+ to_filter});
          }
          
        });
      });

          // set selected menu items
   var $optionSets = $('.option-set'),
       $optionLinks = $optionSets.find('a');
 
       $optionLinks.click(function(){
          var $this = $(this);
    // don't proceed if already selected
    if ( $this.hasClass('selected') ) {
        return false;
    }
   var $optionSet = $this.parents('.option-set');
   $optionSet.find('.selected').removeClass('selected');
   $this.addClass('selected'); 
});





      
  </script>