---
layout: default
title: press
---
<div id="left" class="col-lg-2 col-md-2 col-sm-3 hidden-xs">

 


</div>


<div id="right" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
	  
	  <ul id="container" class="posts row">
	        

	        {% for post in site.posts %}

	        {% if post.group == 'press' %}

        
	          <li class="element {{ post.categories }} {{ post.year }} {{ post.folder }} {{ post.type }} col-lg-4 col-md-3 col-sm-6 col-xs-12" >

	            <a href="{{ post.url }}">
	             <h6 class="press-e">{{ post.title }}  
              </h6>

              
	            <img src="/assets/img/press/{{ post.img[0] }}" class="img-responsive">
	            
	            </a>
	            <!-- hidden-lg hidden-md hidden-sm -->
	            
	          </li>

	        {% endif %}

	        {% endfor %}

	       
	   </ul>

</div>


<script>
          $('#container').imagesLoaded(function() {
        $('#container').isotope({ 
            itemSelector : '.element' 
           
      });
        
        $('a.filter').click(function(e) {
              e.preventDefault();
          var to_filter = $(this).attr('data-option-value');
          if(to_filter == 'all') {
                  $('#container').isotope({filter: '.element'});
          } else {
                  $('#container').isotope({filter: '.'+ to_filter});
          }
          
        });
      });

          // set selected menu items
   var $optionSets = $('.option-set'),
       $optionLinks = $optionSets.find('a');
 
       $optionLinks.click(function(){
          var $this = $(this);
    // don't proceed if already selected
    if ( $this.hasClass('selected') ) {
        return false;
    }
   var $optionSet = $this.parents('.option-set');
   $optionSet.find('.selected').removeClass('selected');
   $this.addClass('selected'); 
});





      
  </script>