---
layout: default
---
<div id="left" class="col-lg-3  col-md-3   col-sm-4 hidden-xs">
	<h4 class="title">{{ page.collection-full }}</h4 class="title">
	<p>

		{% for text in site.posts %}
			{% if text.collection == page.collection %}	
			{{ text.content }}
			{% endif %}
		{% endfor %}
	</p>


</div>

<div id="right" class="col-lg-7 col-lg-offset-1  col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12">

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->


		  

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">

		  	<div class="item active">
		  				<h6>&nbsp;</h6>
				      <div class="tile-img {{ page.type }}"><img src="/assets/img/projects/{{ page.folder }}/{{ page.img }}" alt="{{ page.title }}" class="img-responsive"></div>
				    </div>

		  	{% for post in site.posts %}
	        	{% if post.folder == page.folder %}
	        		{% if post.title != page.title %}
					    <div class="item">
					    	<h6>&nbsp;</h6>
					      <div class="tile-img {{ post.type }}"><img src="/assets/img/projects/{{ post.folder }}/{{ post.img }}" alt="{{ post.title }}" class="img-responsive"></div>
					      
					    </div>
			 		{% endif %}
			 	{% endif %}
	        {% endfor %}
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <img src="/assets/img/id/left.png" class="img-responsive" />
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <img src="/assets/img/id/right.png" class="img-responsive" />
		    <span class="sr-only">Next</span>
		  </a>
	</div>

	

</div>


<div id="left" class="hidden-lg  hidden-md  hidden-sm col-xs-12">
	<h4 class="title">{{ page.collection }}</h4 class="title">
	<p>

		{% for text in site.posts %}
			{% if text.collection == page.collection %}	
			{{ text.content }}
			{% endif %}
		{% endfor %}
	</p>


</div>

